body {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hero{
    width: 100%;
    height: 70vh;
    background: url("./img/home.avif") no-repeat center / cover;

}
.container{
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}